<div>
    <div>
        <div class="row card-header">
            <div class="col-6">
                <h1 class="text-muted">Consulta de Unidades</h1>
            </div>

        </div>
        <div class="card">
            <table datatable class="table row-border hover table-responsive " *ngIf="this.temp_var" style="width:100%;font-size:11px">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Marca</th>
                        <th>SubMarca</th>
                        <th>Modelo</th>
                        <th>Vin</th>
                        <th>Evidencias</th>
                        <!-- Evidencias -->
                        <th>Comentarios</th>
                        <!-- Comentarios -->
                        <th>Accion</th>
                        <!-- Accion -->
                        <th width="350px">Cotizacion</th>
                        <!-- Cotizacion -->
                        <th>Traslado</th>
                        <!-- Traslado -->
                        <th>Oferta</th>
                        <!-- Oferta -->
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let unidad of unidades; let i = index;">
                        <td>{{ unidad.id }}</td>
                        <td>{{ unidad.fecha | date:'MM/dd/yyyy' }}</td>
                        <td>{{ unidad.marca }}</td>
                        <td>{{ unidad.submarca }}</td>
                        <td>{{ unidad.modelo }}</td>
                        <td>{{ unidad.vin }}</td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-success btn-circle " (click)="openEvidencias(evidencia, unidad.id)" title="Evidencias">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <div style="text-align: center">
                                <button type="button" class="btn btn-info btn-circle" (click)="open(content, unidad.id,unidad.vin)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!-- <div style="width:200px">
                                <textarea title="Comentarios" class="form-control form-control-sm"></textarea>
                            </div> -->
                        </td>
                        <td>
                            <div style="width:160px">
                                <select title="Accion" class="form-control form-control-sm">
                                    <option value="0">Seleccione Accion</option>
                                    <option value="1">Enviar a Taller</option>
                                    <option value="1">Trasladar BANORTE</option>
                                    <option value="2">Oferta de Compra</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div style="width:120px;">
                                <button type="button" title="Editar Cotizacion" class="btn btn-info btn-circle" (click)="openCot(cotizacion,unidad.id);">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button type="button" title="Aprobar Cotizacion" class="btn btn-success btn-circle" (click)="deletePromocion(Dpromo.po_IdPromocion);">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>

                                <button type="button" title="Anular Cotizacion" class="btn btn-danger btn-circle" (click)="deletePromocion(Dpromo.po_IdPromocion);">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div style="width:100px;">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="Chk_DHL" value="DHL" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        DHL
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (change)="open(contentI, unidad.id,unidad.vin)" name="exampleRadios" id="Chk_TParts"
                                        value="TotalParts">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Total Parts
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="width:200px; padding: 2px" class="row col-xs-12">
                                <div *ngIf="unidad.monto != null && unidad.monto > 0">
                                    {{unidad.monto | currency}}
                                    <i *ngIf="unidad.estatusOferta == 'Aceptada'" class="fa fa-check text-success" aria-hidden="true"></i>
                                    <i *ngIf="unidad.estatusOferta == 'Rechazada'" class="fa fa-ban text-danger" aria-hidden="true"></i>
                                </div>
                                <button *ngIf="unidad.estatusOferta == null || unidad.estatusOferta == ''" style="margin-left: 10px" type="button" title="Agregar o modificar Oferta" class="btn btn-info btn-circle col-xs-6" (click)="openOfertas(ofertasM, unidad);">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div style="width:180px">
                                <select title="Estatus" class="form-control form-control-sm">
                                    <option value="0">Sin Evidencia</option>
                                    <option value="1">Evidencia Capturada</option>
                                    <option value="2">En Reparación</option>
                                    <option value="3">Ofertada</option>
                                    <option value="4">Comprada</option>
                                    <option value="5">Entregada BANORTE</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- M O D A L E S -->
    <!-- Inicia el modal  Comentarios -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Comentarios</h4>
        </div>
        <div class="modal-body">
            <!-- <form [formGroup]="form" (ngSubmit)="saveDash()"> -->
            <div class="row div-space">
                <div class="col">
                    <h6 class="text-muted">Agregar Comentario</h6>
                    <textarea class="col form-control form-control-sm" rows="2" cols="20" name="comentario" [(ngModel)]="comentar">
                    </textarea>
                </div>
            </div>
            <div class="modal-footer" style="margin: 20px">
                <button class="btn btn-outline-success" type="submit" (click)="insertComentario(UnidadID, comentar)">Agregar</button>
            </div>
            <div class="row div-space">
                <div class="col">
                    <table style="width:100%;font-size:11px">
                        <thead class="blue-grey lighten-4">
                            <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                                <th>Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let comentario of comentarios; let i = index;">
                                <td>{{ comentario.idUnidad }}</td>
                                <td>{{ comentario.nombreCompleto }}</td>
                                <td>{{ comentario.fecha | date:'MM/dd/yyyy h:mm a' }}</td>
                                <td>{{ comentario.comentario }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer" style="margin: 20px">
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Cerrar</button>
            </div>
            <!-- </form> -->
        </div>
    </ng-template>

    <!-- Inicia el modal Traslado Importe -->
    <ng-template #contentI let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Traslado/Importe</h4>
        </div>
        <div class="modal-body">
            <div class="row div-space">
                <div class="col">
                    <h6 class="text-muted">Agregar Monto Importe:</h6>
                    <textarea class="col form-control form-control-sm" rows="1" cols="20" name="importe" [(ngModel)]="importe">
                        </textarea>
                </div>
            </div>
            <div class="modal-footer" style="margin: 20px">
                <button class="btn btn-outline-success" type="submit" (click)="insertComentario(UnidadID, comentar)">Guardar</button>
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Cerrar</button>
            </div>
        </div>
    </ng-template>

    <!--Iniia el modal de Ofertas -->
    <ng-template #ofertasM let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Ofertas</h4>
        </div>
        <div class="modal-body">
            <div class="row div-space">
                <div class="col">
                    <h6 class="text-muted">Agregar/Modificar Monto a ofertar:</h6>
                    <input type="Text" class="col form-control form-control-sm" name="ofertar" [(ngModel)]="oferta.monto">
                </div>
            </div>
            <div class="row div-space">
                <div class="col">
                    <div *ngIf="oferta.estatus == null">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin: 20px">
                <button *ngIf="!oferta.isNew" type="button" title="Aprobar Oferta" class="btn btn-outline-info" (click)="approveOferta(oferta);">Aprobar</button>
                <button *ngIf="!oferta.isNew" type="button" title="Anular Oferta" class="btn btn-outline-warning" (click)="denyOferta(oferta);">Rechazar</button>
                <button class="btn btn-outline-success" type="submit" (click)="addOferta(oferta)">Guardar</button>
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Cerrar</button>
            </div>
        </div>
    </ng-template>


    <!-- Inicia el modal  Insert -->
    <ng-template #evidencia let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Evidencias</h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <table style="width: 100%;" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Evidencia</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let evidencia of evidencias; let i = index;">
                                <td>{{ evidencia.id }}</td>
                                <td>{{ evidencia.titulo }}</td>
                                <td>
                                    <a target="_blank" [href]="domSanitizer.bypassSecurityTrustUrl(evidencia.imagen)">
                                        <img *ngIf="evidencia.ext == 'image/jpeg'" [src]="evidencia.imagen" style="height: 35px; width: 35px" [alt]="evidencia.titulo">
                                        <i *ngIf="evidencia.ext != 'image/jpeg'" class="fa fa-video-camera" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin: 20px">
                    <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Cerrar</button>
                </div>
               
            </div>
        </div>
    </ng-template>

    <!-- Inicia el modal  Cotizaciones -->
    <ng-template #cotizacion let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Cotizaciones</h4>
        </div>
        <div class="modal-body">
            <!-- <form [formGroup]="form" (ngSubmit)="saveDash()"> -->
            <div class="row div-space">
                <div class="col">
                    <h6 class="text-muted">Agregar Partida</h6>
                    <table style="width: 100%;" border="0">
                        <tr>
                            <td><h6 class="text-muted">Partida</h6></td>
                    <td colspan="3"><input class="col form-control form-control-sm" name="partida" [(ngModel)]="partida"></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                        <td><h6 class="text-muted">Cantidad</h6></td>
                        <td><input class="col form-control form-control-sm" name="cantidad" [(ngModel)]="cantidad"></td>
                    <td><h6 class="text-muted">Precio</h6></td>
                    <td><input class="col form-control form-control-sm" name="precio" [(ngModel)]="precio"></td>
                </tr>
                </table>
                </div>
            </div>
            <div class="modal-footer" style="margin: 20px">
                <button class="btn btn-outline-success" type="submit" (click)="insertCotizacion(UnidadID, partida,cantidad,precio)">Agregar</button>
            </div>
            <div class="row div-space">
                <div class="col">
                    <table style="width:100%;font-size:11px">
                        <thead class="blue-grey lighten-4">
                            <tr>
                                <th>#</th>
                                <th>Partida</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let cotizacion of cotizaciones; let i = index;">
                                <td>{{ cotizacion.idUnidad }}</td>
                                <td>{{ cotizacion.partida }}</td>
                                <td>{{ cotizacion.cantidad }}</td>
                                <td>{{ cotizacion.precio }}</td>
                                <td> <button class="btn btn-circle btn-danger" style="color: white;" type="submit" (click)="deleteCotizacion()">X</button> </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-align">Total: </td>
                                <td>Valor </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer" style="margin: 20px">
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Cerrar</button>
            </div>
            <!-- </form> -->
        </div>
    </ng-template>
