<div class="login-page" [@routerTransition]>
    <div>
            <img src="assets/images/ase.png" style="height: 250px;">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div>
                
            </div>
            <form role="form" novalidate (ngSubmit)="onSubmit()" #registerForm="ngForm">
                    <input type="text" [(ngModel)]="user.usuario" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" placeholder="Usuario">
                    <input type="password" [(ngModel)]="user.contrasena" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" placeholder="Contraseña">

                    <div style="margin:15px 0px;">
                            <button type="submit" class="btn btn-primary"  >Ingresar</button>
                    </div>
                    <p *ngIf="error" class="danger" style="color:red; font-weight: bold;">El usuario o el password es incorrecto.</p>
            </form>
        </div>
    </div>
</div>
